{% extends "auctions/layout.html" %} 
{% block body %} 
{% load tz %} 

{% if user.is_authenticated %} 
  {% for listing_with_bids in closed_listings_with_bids %}
    {% if not listing_with_bids.listing.is_active%}
      <div class="listing">
        <div class="img-container">
          <img
            class="listing-img"
            src="{{listing_with_bids.listing.image_url}}"
            alt="{{listing_with_bids.listing.title}}"
          />
        </div>

        <div class="listing-info">
          <div>
              <h2 class="listing-title">
                {{ listing_with_bids.listing.title }}
              </h2>
              <h3 class="listing-description">
                {{ listing_with_bids.listing.description }}
              </h3>
          </div>

          <div class="bid-info">
            {% if user == listing_with_bids.highest_bidder %}
            <h3 class="alert success">
              You have won this Auction !!!
            </h3>
            {% elif user == listing_with_bids.listing.listing_owner %}
            <h3 class="alert">
              Your listing has been successfully bought!
            </h3>
            {% else %}
            <h3 class="alert success">
            This Auction has been won by {{ listing_with_bids.highest_bidder | capfirst }}
            </h3>
            {% endif %}
            <h4 class="listing-owner">
              Opened by:
              <span>
                {{listing_with_bids.listing.listing_owner | capfirst}} on {{listing_with_bids.creating_date|date:"F j, Y, g:i a"}}
              </span>
            </h4>
            <h4 class="listing-owner">
              Closed on:
              <span>
                {{listing_with_bids.closing_date|date:"F j, Y, g:i a"}}
              </span>
            </h4>
            <h4 class="listing-initial-bid">
              Start bid:
              <span>${{listing_with_bids.listing.initial_bid}}</span>
            </h4>
            <h4 class="listing-current-bid">
              Won bid:
              <span>${{listing_with_bids.won_bid}}</span>
            </h4>
            <h4 class="highest-bidder">
              The highest bidder:
              <span>{{listing_with_bids.highest_bidder | capfirst}}</span>
            </h4>
            <h4 class="listing-category">
              Category:
              <span>{{listing_with_bids.listing.category}}</span>
            </h4>
            <h4 class="bids-num">
              Number of bids:
              <span>{{listing_with_bids.num_of_bids}}</span>
            </h4>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
