{% extends "auctions/layout.html" %} 
{% block body %}
<form
  action="{% url 'auctions:listings_by_category' %}"
  method="post"
>
  {% csrf_token %}
  <div class="form-group">
    <select
      class="custom-select"
      name="category"
      id="category"
      onchange="this.form.submit()"
    >
      <option
        value=""
        selected
        disabled
      >
        Choose Category
      </option>
      {% for category in categories %}
      <option value="{{category}}">
        {{category}}
      </option>
      {% endfor %}
    </select>
  </div>
</form>

<h2 class="nav-title">Active Listings</h2>

<div class="cards-container">
  {% for listing in listings %} 
  {% if listing.is_active %}
  <div class="card">
    <img
      class="card-img"
      src="{{listing.image_url}}"
      alt="{{listing.title}}"
      height="400px"
    />
    <div class="card-body">
      <h4 class="card-title">
        <a
          href="{% url 'auctions:select_listing' listing.id %}"
        >
          {{ listing.title }}
        </a>
      </h4>
      <h5 class="card-bid">
        $ {{ listing.initial_bid }}
      </h5>
    </div>
  </div>
  {% endif %} 
  {% endfor %}
</div>
{% endblock %}
