{% extends "auctions/layout.html" %} 
{% block body %}

<h1 class="nav-title">Watch List</h1>

<div class="cards-container">
  {% for listing in userWatchList %}
  <div class="card">
    <img
      class="card-img"
      src="{{listing.image_url}}"
      alt="{{listing.title}}"
      height="400px"
    />
    <div class="card-body">
      <h4 class="card-title">
        <a
          href="{% url 'auctions:select_listing' listing.id %}"
        >
          {{ listing.title }}
        </a>
      </h4>
      <h5 class="card-bid">
        $ {{ listing.initial_bid }}
      </h5>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
